<% @nao_exists.xpath('//PRODUTOS/PRODUTO').each do |i| %>
		<p>
			<p></p>
			<p> Nome:  <%= i.xpath('DESCRICAO').children.text %> </p>
  			<p> Códig: <%= i.xpath('CODIGO').children.text %> </p>
  		<p>	
 <% end %>